h1#heading {
    margin: 0;
}

h1#heading:hover {
    cursor: pointer;
}

p {
    font-size: 10pt;
}

p#greeting {
    margin-bottom: 0px;
    margin-right: 20px;
}

.authentication-container {
    height: 66px;
}