<ion-header [translucent]="false">
    <ion-toolbar color="primary">

        <ion-title style="max-width: 1040px; margin: auto;">
            <div style="float: left">
                <h1 id="heading" routerLink="/posts"><img src="assets/logo.svg" draggable="false"
                        style="height: 32px; margin-top: 19px;">
                </h1>
            </div>
            <div style="float: right">
                <div *ngIf="authService.user as user; else loggedOut" class="authentication-container" fxLayout="row"
                    fxLayoutAlign="space-between center">
                    <p id="greeting" fxHide fxShow.gt-xs>Hello{{user.displayName !== null ? ", " :
                        ""}}{{user.displayName}}!
                    </p>
                    <div>
                        <button mat-raised-button color="primary" (click)="authService.signOut()">Sign
                            out</button>
                    </div>
                </div>

                <ng-template #loggedOut>
                    <div class="authentication-container" fxLayout="row" fxLayoutAlign="space-between center">
                        <a [routerLink]="['/sign-in']"><button mat-raised-button color="primary">Sign
                                in</button></a>
                        <p style="margin: 12px;" fxHide fxShow.gt-xs>or</p>
                        <a [routerLink]="['/sign-up']" fxHide fxShow.gt-xs><button mat-raised-button
                                color="primary">Sign
                                up</button></a>
                    </div>
                </ng-template>
            </div>
            <div style="clear: both;"></div>
        </ion-title>
    </ion-toolbar>
</ion-header>