<div id="steps">
    <h2>Steps</h2>
    <p [ngClass]="{selected: step === 1}">1. Select Article Header</p>
    <p [ngClass]="{selected: step === 2}">2. Select Article Date</p>
    <p [ngClass]="{selected: step === 3}">3. Select Article author</p>
    <p [ngClass]="{selected: step === 4}">4. Select Article introduction</p>
    <p [ngClass]="{selected: step === 5}">5. Select Article content</p>

    <button mat-raised-button (click)="onBackClick()">Back</button>
    <button mat-raised-button color="primary" (click)="onNextClick()" [disabled]="!nextButtonEnabled"
        *ngIf="step !== 5">Next</button>
    <button mat-raised-button color="primary" (click)="onFinishClick()" [disabled]="!nextButtonEnabled"
        *ngIf="step === 5">Finish</button>
</div>
<div id="preview-div" [innerHTML]="previewHtml" (click)="onElementSelected($event)" (mouseover)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"></div>