h2 {
    font-family: Lobster;
    font-size: 32px;
    color: #3f51b5;
    text-align: center;
}

h3 {
    font-size: 12pt;
    font-weight: 500;
    margin-bottom: 6px;
}

.section {
    margin-top: 12px;
    margin-bottom: 12px;
}

p {
    margin: 0 !important;
    margin-bottom: 1.25em !important;
}

p#error {
    margin-top: 20px;
    color: #a50101;
    text-align: center;
}