<h2>Account Settings</h2>

<mat-divider></mat-divider>

<h3>Ausloggen</h3>
<p>account works!</p>

<button mat-raised-button color="primary" (click)="signOut()">{{
    'authentication.sign-out'
    |
    translate
    }}</button>

<mat-divider></mat-divider>

<h3>Account löschen</h3>
<p>account works!</p>

<button mat-raised-button color="primary" (click)="signOut()">{{
    'authentication.sign-out'
    |
    translate
    }}</button>

<mat-divider></mat-divider>

<h3>Passwort ändern</h3>
<p>account works!</p>

<button mat-raised-button color="primary" (click)="signOut()">{{
    'authentication.sign-out'
    |
    translate
    }}</button>