<mat-card *ngIf="useOwnBorder">
    <ng-container *ngTemplateOutlet="selectedBlogsTemplate;"></ng-container>
</mat-card>

<div *ngIf="!useOwnBorder" style="max-height: 550px;">
    <ng-container *ngTemplateOutlet="selectedBlogsTemplate;"></ng-container>
</div>

<ng-template #selectedBlogsTemplate>

    <div *ngIf="(state$ | async)?.loading === false && (state$ | async) as state; else loading">

        <h2>{{
            'postList.yourBlogs'
            | translate }}</h2>

        <mat-divider></mat-divider>
        <div style="height: 1px;"></div>

        <div *ngIf="!state.error">
            <div *ngIf="!state.selectedBlogs || state.selectedBlogs.length === 0"
                style="text-align: center; margin-top: 12px; margin-bottom: 12px;">
                <p>{{
                    'postList.nothingHere'
                    | translate }}</p>
                <img src="./assets/svg/illustrations/add_blogs.svg" width="180px" draggable="false" />
            </div>

            <ul *ngIf="state.selectedBlogs && state.selectedBlogs.length > 0">
                <li *ngFor="let selectedBlog of state.selectedBlogs" class="selected-blog">
                    <div id="selected-blog">
                        <mat-checkbox [checked]="selectedBlog.isSelected" [disabled]="state.updating"
                            (change)="toggleSelectedBlog($event, selectedBlog)" [title]="selectedBlog.blogUrl">
                            {{utilService.getHostname(selectedBlog.blogUrl)}}</mat-checkbox>

                        <button mat-mini-fab color="primary" [disabled]="state.updating"
                            (click)="deleteSelectedBlog(selectedBlog)" class="delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </li>
            </ul>

            <mat-divider></mat-divider>
            <div style="height: 20px;"></div>

            <button mat-raised-button color="primary" (click)="openDialog()">{{
                'postList.addBlog'
                | translate }}</button>
        </div>


        <div *ngIf="state.error">
            <p>An error has occured: {{state.error.message}}</p>
        </div>
    </div>

</ng-template>

<app-legal [showLanguageSelector]="false"></app-legal>

<ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
</ng-template>