<ion-content>
    <div id="about-component">
        <mat-card>

            <h1>Merge your favourite blogs</h1>
            <p>MisterBlog collects all your favourite blogs in one place and keeps you updated by combining them into
                one simple
                newsfeed.
            </p>
            <br>
            <div>
                <video autoplay="autoplay" loop="true" muted playsinline>
                    <source src="assets/animations/addblog_final.webm" type="video/webm">
                    <source src="assets/animations/addblog_final.mp4" type="video/mp4">
                </video>
            </div>
            <!-- <p>Animation mit Blog A blog B und Blog C, die in einen simplen chronologischen Feed vereint werden</p> -->

            <br>

            <h1>How it works</h1>
            <ul>
                <li><span>Step 1:</span> Collect all your blogs</li>
                <li><span>Step 2:</span> Add each blog one by one</li>
                <li><span>Step 3:</span> Enjoy your unified newsfeed of your favourite blogs</li>
            </ul>
        </mat-card>

        <app-legal></app-legal>
    </div>
</ion-content>