div#about-component {
    max-width: 1000px;
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

mat-card {
    border-radius: 45px;
    padding: 40px;
    padding-top: 20px;
}