div#height-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div#container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

div#steps {
    width: 450px;
    border-right: black 1px solid;
}

div#steps-container {
    overflow-y: hidden;
}

button.stepper-button {
    margin-top: 12px;
}

button.mat-primary {
    margin-left: 12px;
}

#preview {
    flex: 1;
}

p.selected {
    color: red;
}

.mat-vertical-stepper-header, .mat-step-header {
    pointer-events: none;
}