<div id="height-container">
    <div id="container">
        <div id="steps">
            <h2>Steps</h2>

            <div id="steps-container">

                <mat-vertical-stepper [linear]="true" #stepper (selectionChange)="onSelectionChange($event)"
                    [disableRipple]>
                    <mat-step completed="false">
                        <ng-template matStepLabel>Select the Headline of the first Blog-Post</ng-template>
                        <div>
                            <button mat-raised-button class="stepper-button" color="primary" (click)="onNextClick()"
                                [disabled]="!nextButtonEnabled">Next</button>
                        </div>
                    </mat-step>

                    <mat-step completed="false">
                        <ng-template matStepLabel>Select the Introduction of the first Blog-Post</ng-template>
                        <div>
                            <button mat-raised-button class="stepper-button" (click)="onBackClick()">Back</button>
                            <button mat-raised-button class="stepper-button" color="primary" (click)="onNextClick()"
                                [disabled]="!nextButtonEnabled">Next</button>
                        </div>
                    </mat-step>

                    <mat-step completed="false">
                        <ng-template matStepLabel>Select the Headline of the second Blog-Post</ng-template>
                        <div>
                            <button mat-raised-button class="stepper-button" (click)="onBackClick()">Back</button>
                            <button mat-raised-button class="stepper-button" color="primary" (click)="onNextClick()"
                                [disabled]="!nextButtonEnabled">Next</button>
                        </div>
                    </mat-step>

                    <mat-step completed="false">
                        <ng-template matStepLabel>Select the Introduction of the second Blog-Post</ng-template>
                        <div>
                            <button mat-raised-button class="stepper-button" (click)="onBackClick()">Back</button>
                            <button mat-raised-button class="stepper-button" color="primary" (click)="onNextClick()"
                                [disabled]="!nextButtonEnabled">Next</button>
                        </div>
                    </mat-step>

                    <mat-step completed="false">
                        <ng-template matStepLabel>Select the Link to the second Page/older Posts of the Blog
                        </ng-template>
                        <div>
                            <button mat-raised-button class="stepper-button" (click)="onBackClick()">Back</button>
                            <button mat-raised-button class="stepper-button" color="primary" (click)="onNextClick()"
                                [disabled]="!nextButtonEnabled">Next</button>
                        </div>
                    </mat-step>

                    <mat-step completed="false">
                        <ng-template matStepLabel>Select the Headline of the Blog-Post</ng-template>
                        <div>
                            <button mat-raised-button class="stepper-button" (click)="onBackClick()">Back</button>
                            <button mat-raised-button class="stepper-button" color="primary" (click)="onNextClick()"
                                [disabled]="!nextButtonEnabled">Next</button>
                        </div>
                    </mat-step>

                    <mat-step completed="false">
                        <ng-template matStepLabel>Select the Content of the Blog-Post</ng-template>
                        <div>
                            <button mat-raised-button class="stepper-button" (click)="onBackClick()">Back</button>
                            <button mat-raised-button class="stepper-button" color="primary" (click)="onNextClick()"
                                [disabled]="!nextButtonEnabled">Next</button>
                        </div>
                    </mat-step>

                    <mat-step completed="false">
                        <ng-template matStepLabel>Select the Date of the Blog-Post</ng-template>
                        <div>
                            <button mat-raised-button class="stepper-button" (click)="onBackClick()">Back</button>
                            <button mat-raised-button class="stepper-button" color="primary" (click)="onNextClick()"
                                [disabled]="!nextButtonEnabled">Next</button>
                        </div>
                    </mat-step>

                    <mat-step completed="false">
                        <ng-template matStepLabel>Select the Author of the Blog-Post</ng-template>
                        <div>
                            <button mat-raised-button class="stepper-button" (click)="onBackClick()">Back</button>
                            <button mat-raised-button class="stepper-button" color="primary" (click)="onFinishClick()"
                                [disabled]="!nextButtonEnabled">Finish</button>
                        </div>
                    </mat-step>
                </mat-vertical-stepper>
            </div>
        </div>

        <mat-spinner *ngIf="previewLoading" diameter="60" style="margin: auto; margin-top: 42px;"></mat-spinner>
        <iframe [hidden]="previewLoading" #previewIframe id="preview" title="Blog Preview"
            sandbox="allow-same-origin"></iframe>

        <!-- 
<mat-spinner *ngIf="!previewHtml" diameter="60" style="margin: auto; margin-top: 42px;"></mat-spinner>
<div #previewDiv id="preview" *ngIf="previewHtml" [innerHTML]="previewHtml | safeHtml"
    (click)="onElementSelected($event)" (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut($event)">
</div> -->

    </div>
</div>