div#container {
    display: flex;
}

div#steps {
    width: 300px;
    border-right: black 2px solid;
    overflow-y: auto;
}

iframe#preview {
    flex-grow: 100;
    overflow-y: auto;
}

p.selected {
    color: red;
}