div#steps {
    float: left;
    width: 29%;
    height: 90%;
    border-right: black 2px solid;
}

div#preview-div {
    float: right;
    width: 70%;
    height: 90%;
    overflow-y: scroll;
}

p.selected {
    color: red;
}