<h2 mat-dialog-title>{{
    'addBlogDialog.addNewBlog'
    | translate }}</h2>
<div id="dialog-content" mat-dialog-content>
    <p>{{
        'addBlogDialog.specifyBlogUrl'
        | translate }}</p>
    <mat-form-field>
        <mat-label>URL</mat-label>
        <input matInput [(ngModel)]="blogUrl" placeholder="{{
            'addBlogDialog.exampleUrl' | translate }}" [formControl]="addBlogFormControl">

        <mat-error *ngIf="addBlogFormControl.hasError('pattern') && !addBlogFormControl.hasError('required')">
            {{ 'addBlogDialog.pleaseEnterValidUrl' | translate }}
        </mat-error>
        <mat-error *ngIf="addBlogFormControl.hasError('required')">
            {{ 'addBlogDialog.urlIs' | translate }} <strong>{{ 'general.required' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="addBlogFormControl.hasError('not_supported')">
            {{ 'addBlogDialog.blogUrlNotSupported' | translate }}
        </mat-error>
        <mat-error *ngIf="addBlogFormControl.hasError('conflict')">
            {{ 'addBlogDialog.blogAlreadyAdded' | translate }}
        </mat-error>
        <mat-error *ngIf="addBlogFormControl.hasError('unknown')">
            {{ 'error.unknown-error' | translate }}
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onCancelClick()">{{
        'general.cancel'
        | translate }}</button>
    <button mat-raised-button color="primary" (click)="onAddClick()" [disabled]="!addBlogFormControl.valid"
        cdkFocusInitial>
        <span *ngIf="!loading">{{
            'general.add'
            | translate }}</span>
        <app-loading-spinner *ngIf="loading" scale="0.25" color="white" style="height: 36px;"></app-loading-spinner>
    </button>
</div>