<h1 mat-dialog-title>Add a new Blog</h1>
<div mat-dialog-content>
    <p>Please specify the URL of the new Blog below.</p>
    <mat-form-field>
        <mat-label>URL</mat-label>
        <input matInput [(ngModel)]="blogUrl" placeholder="www.example.com" [formControl]="addBlogFormControl">

        <mat-error *ngIf="addBlogFormControl.hasError('pattern') && !addBlogFormControl.hasError('required')">
            Please enter a valid URL
        </mat-error>
        <mat-error *ngIf="addBlogFormControl.hasError('required')">
            URL is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="addBlogFormControl.hasError('not_supported')">
            The specified Blog URL is not supported. Please contact our support for help
        </mat-error>
        <mat-error *ngIf="addBlogFormControl.hasError('conflict')">
            You have already added this Blog URL. Please check your selected Blogs
        </mat-error>
        <mat-error *ngIf="addBlogFormControl.hasError('unknown')">
            An unknown error has occured
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onAddClick()" [disabled]="!addBlogFormControl.valid"
        cdkFocusInitial>
        <span *ngIf="!loading">Add</span>
        <app-loading-spinner *ngIf="loading" scale="0.25" color="white" style="height: 36px;"></app-loading-spinner>
    </button>
</div>