<ion-content>
    <div id="root-container">
        <app-loading-spinner *ngIf="!blogPost" style="margin-top: 42px;"></app-loading-spinner>

        <mat-card *ngIf="blogPost" id="blog-post">
            <h1><b>{{blogPost.title}}</b></h1>


            <div fxLayout="row">
                <div fxFlex="60">
                    <p>{{ "postDetails.published-on" | translate }} <a id="blog-url" [href]="blogUrl"
                            target="_blank">{{utilService.getHostname(blogUrl)}}</a></p>
                </div>

                <div fxFlex="40" style="text-align: right;">
                    <p id="date">{{blogPost.date | date | async}}</p>
                </div>
            </div>

            <mat-divider></mat-divider>
            <div style="height: 12px;"></div>

            <div *ngIf="!blogPost.content" style="margin-top: 20px;">
                <ngx-skeleton-loader count="6" appearance="line" animation="progress-dark">
                </ngx-skeleton-loader>
            </div>
            <div *ngIf="blogPost.content" id="content" [innerHTML]="blogPost.content | safeHtml"></div>


            <div fxLayout="row wrap" *ngIf="blogPost.authors && blogPost.authors.length > 0">
                <div fxFlex="40"></div>

                <div fxFlex="60">
                    <div id="authors-container">
                        <p id="authors">
                            {{ "general.by" | translate }}
                            <span>{{blogPost.authors.join(', ')}}</span>
                        </p>
                    </div>
                </div>
            </div>

            <div style="height: 12px;"></div>
            <mat-divider></mat-divider>

            <button id="original-post-button" mat-raised-button color="primary" (click)="goToOriginalBlogPost()">{{
                "postDetails.go-to-original-post" | translate }}</button>
        </mat-card>
    </div>
</ion-content>