<mat-spinner *ngIf="!blogPost" diameter="60" style="margin: auto; margin-top: 42px;"></mat-spinner>

<mat-card *ngIf="blogPost" id="blog-post">
    <h1><b>{{blogPost.title}}</b></h1>
    <p>{{blogPost.authors}} on {{blogPost.date | date:'medium'}}</p>
    <div [innerHTML]="blogPost.content | safeHtml"></div>

    <mat-divider></mat-divider>
    <button id="original-post-button" mat-raised-button color="primary">
        <a id="original-post-link" target="_blank" rel="noopener noreferrer" href="{{blogPost.postUrl}}">Go to original
            Post</a></button>
</mat-card>