button#original-post-button {
    margin-top: 20px;
}

a#original-post-link {
    color: white;
    text-decoration: none;
}

mat-card#blog-post {
    width: 1000px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    padding: 48px;
    text-align: justify;
}

mat-card p {
    font-size: 12pt;
}

mat-card img {
    border: rgba(0, 0, 0, 0.3) 1px solid;
    border-radius: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}