<ion-content>
    <div id="container">
        <div *ngIf="(state$ | async) as state">
            <mat-card id="authentication" [ngClass]="{'authentication-error' : state.error !== null}">
                <div *ngIf="!state.success">
                    <h1>{{ 'authentication.reset-password' | translate }}</h1>

                    <br>

                    <p>{{ 'authentication.request-password' | translate }}</p>

                    <form [formGroup]="resetPasswordForm">
                        <mat-form-field>
                            <mat-label>{{ 'authentication.enter-email' | translate }}</mat-label>
                            <input matInput type="email" placeholder="Email Address" #passwordResetEmail
                                formControlName="email">
                        </mat-form-field>

                        <br>

                        <button mat-raised-button color="primary" (click)="resetPassword(passwordResetEmail.value)"
                            [disabled]="resetPasswordForm.invalid">
                            <span *ngIf="!state.inProgress">{{ 'authentication.reset-password' | translate }}</span>
                            <app-loading-spinner *ngIf="state.inProgress" scale="0.25" color="white"
                                style="height: 36px;">
                            </app-loading-spinner>
                        </button>

                        <br>

                        <p *ngIf="state.error" id="error">{{state.error}}</p>

                    </form>
                </div>

                <div *ngIf="state.success">
                    <h1>{{ 'authentication.success' | translate }}</h1>

                    <br>

                    <p>{{ 'authentication.verification-email-sent' | translate }}</p>

                    <br>
                </div>


                <div id="bottom-bar">
                    <span>{{ 'authentication.back-to-sign-in' | translate }} <a class="redirect"
                            [routerLink]="['/', translateService.currentLang, 'sign-in']">{{ 'authentication.sign-in' |
                            translate }}</a></span>
                </div>
            </mat-card>
        </div>
    </div>
</ion-content>