/* You can add global styles to this file, and also import other style files */
// @use '@angular/material' as mat;

// @include mat.core();

// $my-primary: mat.define-palette(mat.$pink-palette, 500);
// $my-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

// $my-theme: mat.define-light-theme((
//  color: (
//    primary: $my-primary,
//    accent: $my-accent,
//  )
// ));

// Emit theme-dependent styles for common features used across multiple components.
//@include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
//@include mat.button-theme($my-theme);

// Input Field START
.mat-form-field-invalid div.mat-form-field-flex {
  border: red 1px solid !important;
}

div.mat-form-field-flex {
  border: darkgray 1px solid !important;
  border-radius: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  box-shadow: 0px 0px 2px #888888 !important;
}

.mat-form-field-hide-placeholder div.mat-form-field-infix {
  border-top: transparent 0px solid !important;
}

.mat-form-field-ripple {
  height: 0px !important;
}

.mat-form-field-underline {
  height: 0px !important;
}

.mat-form-field-subscript-wrapper mat-error {
  margin-right: 20px;
  float: right;
}

// Input Field END

.mat-raised-button {
  border-radius: 20px !important;
}

// Dialog START
mat-dialog-container.mat-dialog-container {
  border-radius: 25px !important;
  padding: 40px !important;
}

// Dialog END

html,
body {
  min-height: 100%;
  height: auto;
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: rgb(240, 240, 240);
}

a,
a:visited {
  font-weight: 500;
}


/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";