[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
newspaper3k = "*"
requests = "*"
nltk = "*"
bs4 = "*"
flask = "*"
firebase-admin = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-cors = "*"
dateparser = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
