<ion-content>
    <div id="container">
        <div *ngIf="(state$ | async) as state">
            <mat-card id="authentication" [ngClass]="{'authentication-error' : state.error !== null}">
                <div *ngIf="email; else nothingToSee">
                    <h1>{{ 'authentication.thanks-for-sign-up' | translate }}</h1>

                    <br>

                    <p [innerHTML]="'authentication.confirmation-email-sent' | translate: { email }"></p>

                    <br>

                    <div class="center">
                        <button mat-raised-button color="primary" (click)="sendVerificationEmail()">
                            <span *ngIf="!state.inProgress">{{ 'authentication.resend-verification-email' | translate
                                }}</span>
                            <app-loading-spinner *ngIf="state.inProgress" scale="0.25" color="white"
                                style="height: 36px;">
                            </app-loading-spinner>
                        </button>
                    </div>

                    <br>

                    <p *ngIf="state.success" id="success">{{ 'authentication.confirmation-email-resent' | translate }}
                    </p>
                    <p *ngIf="state.error" id="error">{{state.error}}</p>

                </div>

                <br>

                <div id="bottom-bar">
                    <span>{{ 'authentication.back-to-sign-in' | translate }} <a class="redirect"
                            routerLink="/sign-in">{{
                            'authentication.sign-in' | translate }}</a></span>
                </div>
            </mat-card>
        </div>
    </div>

    <ng-template #nothingToSee>
        <h1>{{ 'authentication.not-found' | translate }}</h1>
        <br>
        <p>{{ 'authentication.nothing-here' | translate }}</p>
    </ng-template>
</ion-content>