<ion-content>
    <div id="container">
        <div *ngIf="(state$ | async) as state">
            <mat-card [ngClass]="{'authentication-error' : state.error !== null}">
                <div style="margin-bottom: 30px;">
                    <h1 *ngIf="!isSignUp">{{ 'authentication.sign-in' | translate }}</h1>
                    <h1 *ngIf="isSignUp">{{ 'authentication.sign-up' | translate }}</h1>
                </div>

                <form [formGroup]="authenticationForm">
                    <mat-form-field>
                        <mat-label>{{ 'authentication.email' | translate }}</mat-label>
                        <input matInput type="email" #userEmail formControlName="email" autocomplete="username">
                    </mat-form-field>

                    <br>

                    <mat-form-field>
                        <mat-label>{{ 'authentication.enter-password' | translate }}</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" #userPassword
                            formControlName="password" autocomplete="current-password">
                        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" tabindex="-1">
                            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>

                    <br>

                    <div *ngIf="isSignUp">
                        <mat-form-field>
                            <mat-label>{{ 'authentication.repeat-password' | translate }}</mat-label>
                            <input matInput [type]="hideRepeatedPassword ? 'password' : 'text'" #repeatedPassword
                                formControlName="repeatedPassword" autocomplete="new-password"
                                [errorStateMatcher]="crossFieldErrorMatcher">
                            <button mat-icon-button matSuffix (click)="hideRepeatedPassword = !hideRepeatedPassword"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatedPassword"
                                tabindex="-1">
                                <mat-icon>{{hideRepeatedPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>

                            <mat-error *ngIf="authenticationForm.errors?.['passwordMismatch']">
                                {{ 'authentication.passwords-do-not-match' | translate }}
                            </mat-error>
                        </mat-form-field>

                        <br>
                    </div>

                    <button mat-raised-button color="primary"
                        (click)="signInOrSignUp(userEmail.value, userPassword.value)"
                        [disabled]="authenticationForm.invalid">
                        <span *ngIf="!state.inProgress && !isSignUp">{{ 'authentication.sign-in' | translate
                            }}</span>
                        <span *ngIf="!state.inProgress && isSignUp">{{ 'authentication.sign-up' | translate
                            }}</span>
                        <app-loading-spinner *ngIf="state.inProgress" scale="0.25" color="white" style="height: 36px;">
                        </app-loading-spinner>
                    </button>

                    <p *ngIf="state.error" id="error">{{state.error}}</p>

                </form>

                <div id="divider-container">
                    <span class="divider"></span>
                    <p *ngIf="isSignUp">{{ 'authentication.or-sign-up-using' | translate }}</p>
                    <p *ngIf="!isSignUp">{{ 'authentication.or-sign-in-using' | translate }}</p>
                    <span class="divider"></span>
                </div>

                <app-social-sign-in></app-social-sign-in>

                <div id="bottom-bar">
                    <span>{{ 'authentication.trouble-signing-in' | translate }} <a
                            [routerLink]="['/', translateService.currentLang, 'forgot-password']">{{
                            'authentication.forgot-password' | translate }}</a></span>

                    <br>

                    <span *ngIf="isSignUp">{{ 'authentication.already-have-account' | translate }} <a
                            [routerLink]="['/', translateService.currentLang, 'sign-in']">{{ 'authentication.sign-in' |
                            translate }}</a></span>
                    <span *ngIf="!isSignUp">{{ 'authentication.dont-have-account' | translate }} <a
                            [routerLink]="['/', translateService.currentLang, 'sign-up']">{{ 'authentication.sign-up' |
                            translate }}</a></span>
                </div>
            </mat-card>

            <app-legal></app-legal>
        </div>
    </div>
</ion-content>