<div style="width: 1000px; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20;">
    <div style="width: 600px;">
        <div style="margin-bottom: 20px;">
            <mat-spinner *ngIf="loading" diameter="42" style="margin: auto;"></mat-spinner>
            <button *ngIf="!loading" mat-raised-button color="primary" (click)="loadBlogPosts()">Refresh</button>
        </div>

        <div *ngIf="blogPosts && blogPosts.length > 0">
            <mat-card style="margin-bottom: 30px;" *ngFor="let blogPost of blogPosts">
                <a routerLink="/post" [state]="{ data: blogPost }">
                    <h2>{{blogPost.title}}</h2>
                </a>
                <p>From {{blogPost.url}}</p>
                <p>{{blogPost.author}} on {{blogPost.date}}</p>
                <p>{{blogPost.introduction}}</p>
            </mat-card>
        </div>
    </div>

    <div style="width: 348px; position: fixed; left: 50%; top: 70px; margin-left: 132px; margin-top: 20px;">
        <selected-blogs (selectedBlogsUpdated)="loadBlogPosts()"></selected-blogs>
    </div>

</div>