#blog-post-card {
    margin-bottom: 32px;
}

a#blog-post-link {
    text-decoration: none;
    color: black;
}

h2#blog-post-title {
    font-size: 18pt;
}

p#from {
    float: left;
}

p#author {
    float: right;
}

p#introduction {
    clear: both;
}

button#continue-reading-button {
    margin-top: 20px;
}