<ion-content [scrollEvents]="true" (ionScroll)="handleScroll($event)">
    <div id="root-container" fxflex fxLayout="column" fxLayoutAlign="center stretch" fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="space-between start">

        <div fxFlex ngClass.gt-sm="left-container">
            <div *ngIf="(state$ | async) as state">
                <div fxHide fxShow.lt-md style="margin-bottom: 20px; margin-right: 10px;" fxLayout="row"
                    fxLayoutAlign="end">
                    <button mat-raised-button color="primary" (click)="onSelectedBlogsClick()">Filter</button>
                </div>

                <app-loading-spinner *ngIf="state.refreshing" style="margin-bottom: 20px;"></app-loading-spinner>

                <div *ngIf="!state.refreshing && (!state.blogPosts || state.blogPosts.length === 0)"
                    style="text-align: center; margin-top: 20px;">
                    <img src="./assets/svg/illustrations/empty.svg" width="200px" draggable="false"
                        style="margin: auto;" />
                </div>

                <div *ngIf="state.blogPosts && state.blogPosts.length> 0">

                    <mat-card *ngFor="let blogPost of state.blogPosts">
                        <a id="blog-post-link" routerLink="/post" [state]="{ data: blogPost }"
                            [queryParams]="{ url: blogPost.postUrl }">
                            <h2 id="blog-post-title">{{blogPost.title}}</h2>
                        </a>

                        <div fxLayout="row">
                            <div fxFlex="60">
                                <a id="blog-url" [href]="blogPost.blogUrl"
                                    target="_blank">{{utilService.getHostname(blogPost.blogUrl)}}</a>
                            </div>

                            <div fxFlex="40" style="text-align: right;">
                                <p id="date">{{blogPost.date | date | async}}</p>
                            </div>
                        </div>

                        <div class="divider">
                            <mat-divider></mat-divider>
                        </div>

                        <p id="introduction">{{blogPost.summary}}</p>

                        <div fxLayout="row wrap" *ngIf="blogPost.authors && blogPost.authors.length > 0">
                            <div fxFlex="40"></div>

                            <div fxFlex="60">
                                <div id="authors-container">
                                    <p id="authors">
                                        {{ "general.by" | translate }}
                                        <span>{{blogPost.authors.join(', ')}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <button mat-raised-button color="primary" routerLink="/post" [state]="{ data: blogPost }"
                            [queryParams]="{ url: blogPost.postUrl }">{{
                            'postList.continueReading'
                            | translate }}</button>
                    </mat-card>
                </div>

                <div *ngIf="state.loadingMore">
                    <mat-card>
                        <ngx-skeleton-loader count="4" appearance="line" animation="progress-dark">
                        </ngx-skeleton-loader>
                    </mat-card>
                    <mat-card style="margin-bottom: 0px;">
                        <ngx-skeleton-loader count="5" appearance="line" animation="progress-dark">
                        </ngx-skeleton-loader>
                    </mat-card>
                </div>
            </div>

        </div>

        <div fxHide fxShow.gt-sm id="right-container">
            <selected-blogs></selected-blogs>
        </div>

    </div>
</ion-content>