div#root-container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

div.left-container {
    margin-right: 32px;
}

div#right-container {
    width: 330px;
}

mat-card {
    margin-bottom: 32px;
    border-radius: 25px;
    padding: 25px;
    padding-bottom: 20px;
}

a#blog-post-link {
    text-decoration: none;
    color: black;
}

h2#blog-post-title {
    font-size: 18pt;
}

p#from {
    float: left;
}

p#authors {
    float: right;
}

p#introduction {
    clear: both;
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

button#continue-reading-button {
    margin-top: 20px;
}