div#root-container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

div.left-container {
    margin-right: 32px;
}

div#right-container {
    width: 330px;
}

mat-card {
    margin-bottom: 32px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

a#blog-post-link {
    text-decoration: none;
    color: black;
}

h2#blog-post-title {
    font-size: 16pt;
    margin-bottom: 8px;
}

a#blog-url {
    text-decoration: none;
    font-weight: 500;
    font-size: 11pt;
}

p#date {
    font-weight: 500;
    font-size: 11pt;
}

div#authors-container {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: right;
    margin-top: 8px;
}

p#authors {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    font-size: 11pt;
}

div.divider {
    margin-bottom: 12px;
}

button {
    margin-top: 20px;
}

p#introduction {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}